.car-img{
    object-fit: contain;
    height: 200px;
    max-width: 100%;
}
.pointer{
    cursor: pointer;
}

.phone-block{
    height: 40px;
}

.modal{
    display: block;
}


/* animations */
/* *-enter */ /* *-leave */
/* *-enter-active */ /* *-leave-active */
/* *-enter-to */ /* *-leave-to */
.phone-enter-active, .phone-leave-active{
    transition: all 0.5s;
}
.phone-enter, .phone-leave-to{
    transform: translateX(30px);
    opacity: 0;
}

.modal-enter-active, .modal-leave-active{
    transition: all 0.5s;
}
.modal-enter, .modal-leave-to{
    opacity: 0;
    transform: translateY(-50vh);
}

.fade-enter-active{
    animation: .75s fade forwards;
}
.fade-leave-active{
    animation: .75s fade reverse;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}
